body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
}
.login-icon {
     display: block;
    margin: 20px auto;
    width: 250px !important;  /* fuerza el tamaño */
    height: 250px !important; /* fuerza el tamaño cuadrado */
    object-fit: contain;     /* mantiene las proporciones sin deformar */
}
.login-container {
    background-color: #ff8400; 
    padding: 2.5rem;
    border-radius: 12px;
    border: 5px solid #fbb040; 
    width: 320px;
    box-sizing: border-box; 
}
.login-container h2 {
    display: none;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group input,
.form-group select { 
    width: 100%;
    padding: 1rem;
    box-sizing: border-box; 
    border: none; 
    border-radius: 50px; 
    text-align: center; 
    font-size: 1rem;
    background-color: #ffffff; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-group select {
    color: #555; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23AAAAAA%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-13%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2013l128%20128c3.6%203.6%207.8%205.4%2013%205.4s9.4-1.8%2013-5.4l128-128c3.6-3.6%205.4-7.8%205.4-13%200-5-1.8-9.2-5.4-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 1.2rem center;
    background-size: 0.7em; 
    padding-right: 3rem;
}
.form-group select:invalid {
    color: #aaa;
}
.form-group select option {
    text-align: left;
    color: #333;
}
.form-group input::placeholder {
    color: #aaa;
}
.login-button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 8px; 
    background-color: #00a693; 
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem; 
}
.login-button:hover {
    background-color: #008775;
}
.login-shadow {
    width: 250px; 
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%; 
    filter: blur(20px); 
    margin-top: 1.5rem; 
}